:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* MY CSS VARIABLES */
  --text-color-dark: #4D4B47;
  --color-accent: #72E186;
  --box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  background-color: #666C65; 
  min-height: 100vh;
  min-height: 100svh;
}
